body {
    font-family: 'Cute Font', sans-serif;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-family: 'Poor Story', system-ui;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Dancing Script', cursive;

}